<div class="whiteBg"></div>
<div class="pageTitle">
  <h1><%= @contact.name rescue nil || "New contact" %></h1>
</div> 

  <div class="addNew">
    <%= form_for(@contact, id: "contact_form") do |form|%>
      <div class="input-custom">
        <span class="icon-angle-down"></span>
        <%= form.select(:contact_attribute_ids, contact_categories, :html => {:name => "contact[contact_attribute_ids][]"})%>
      </div>
      <div class="input-custom">
        <span class="icon-user"></span>
				<%= form.text_field :first_name, placeholder: "First Name" %>
      </div>
      <div class="input-custom">
        <span class="icon-lock"></span>
        <%= form.text_field :last_name, placeholder: "Last Name" %>
      </div>
      <div class="input-custom">
        <span class="icon-envelope-alt"></span>
        <%= form.text_field :email, placeholder: "Email", type: "email" %>
      </div>
      
      <div class="input-custom">
        <%= select("contact[phone_numbers_attributes]", "name" , options_for_select( [ ["Mobile", "mobile"] , ["Home phone","home"], ["Work Phone","work"] ]), :class => "phoneNumber") %>
        <%= form.text_field "phone_numbers_attributes", placeholder: "Phone Number", class: "phoneNumber", type: "number", name: "contact[phone_numbers_attributes][number]"%>
      </div>
      
      <div class="input-custom">
        <span class="icon-pencil"></span>
        <textarea style="height:100px;" placeholder="Add a note" name="note"></textarea>
      </div>
      
      <a class="requirements clearfix btn" data-toggle="collapse" data-target="#requirements">
        Requirements
        <i class="icon-plus-sign"></i>
      </a>
      <div id="requirements" class="collapse out">
        <div class="input-custom">
          <span class="icon-user"></span>
          <input type="text" placeholder="Requirement Name" name="requirement[name]">
        </div>
        
        <div class="input-custom">
          <p class="selectSuburb">Suburbs of interest</p>
          <span class="icon-angle-down"></span>
          
					<%= select( :requirement, "postal_area_names", suburbs_serviced, {:prompt => "Please select"}, {:multiple => true} ) %>
        </div>
        
        <div class="input-custom">
          <span class="icon-angle-down"></span>
          <select name="requirement[requirement_category]">
            <option value="residential_sale">Looking to Buy</option>
            <option value="residential_lease">Looking to Rent</option>
          </select>
        </div>
        
        <div class="input-custom" style="width:50%">
          <span class="icon-tag"></span>
          <input type="number" placeholder="Min Price" name="requirement[min_price]">
        </div>
				
        <div class="input-custom" style="width:50%">
          <span class="icon-tag"></span>
          <input type="number" placeholder="Max Price" name="requirement[max_price]">
        </div>
        
        <div class="input-custom">
          <select class="bedBathCars" name="requirement[min_bedrooms]">
            <%= options_for_select( [ ["Beds", nil] , ["1+", "1"], ["2+", "2"], ["3+", "3"], ["4+", "4"], ["5+", "5"] ])%>
          </select>
          
          <select class="bedBathCars last" name="requirement[min_bathrooms]">
            <%= options_for_select( [ ["Baths", nil] , ["1+", "1"], ["2+", "2"], ["3+", "3"], ["4+", "4"], ["5+", "5"] ])%>
          </select>
          
          <select class="bedBathCars last" name="requirement[min_car_parks]">
            <%= options_for_select( [ ["Car Parks", nil] , ["1+", "1"], ["2+", "2"], ["3+", "3"], ["4+", "4"], ["5+", "5"] ])%>
          </select>
        </div>
      </div><!-- requirements-->
      <button type="submit" class="btnCustom" form="new_contact">Create <i class="icon-double-angle-right"></i></button>
		<%end%>
  </div><!-- addNew-->
