<ul class="navBar">
	<%= link_to contacts_vendors_path, remote: true do %>
    <li class="<%= @page_name == 'Vendors' ? 'active' : '' %>">
      <div class="inner">
        <i class="icon-user"></i>
        <p>Vendors</p>
      </div>
    </li>
	<% end %>
	
	<%= link_to contacts_landlords_path , remote: true  do %>
    <li class="<%= @page_name == 'Landlords' ? 'active' : '' %>">
      <div class="inner">
        <i class="icon-home"></i>
        <p>Landlords</p>
      </div>
    </li>
	<% end %>
	
  <a href="/contacts">
    <li class="<%= @page_name == 'Contacts' ? 'active' : '' %>">
      <div class="inner">
        <i class="icon-group"></i>
        <p>Contacts</p>
      </div>
    </li>
  </a>
  <a href="/contacts/new">
    <li>
      <div class="inner">
        <i class="icon-plus"></i>
        <p>Add</p>
      </div>
    </li>
  </a>
</ul>