<li>
	<div class="swiper-container closed" id="swiper_<%= item.contact['id']%>" >
	  <div class="swiper-wrapper">
  
	    <!--First Slide-->
	    <div class="swiper-slide slide1" id="slide1_<%= item.contact['id']%>">
	      <h1><%= [item.contact["name"],item.contact["company_name"]].reject{|x| x.try(:strip).blank?}.first %></h1>
	      <h2><i class="icon-home"></i> <%= item.listing["address"] %></h2>
	      <h2><i class="icon-phone"></i> <%= !item.contact["mobile"].strip.blank? ? item.contact["mobile"] : "Unknown" %></h2>
				<span class="icon-angle-right"></span>
	    </div>
    
	    <!--Second Slide-->
	    <div class="swiper-slide slide2" id="slide2_<%= item.contact['id']%>">
    		
	      <a class="action" href="tel:<%=item.contact["mobile"]%>">
	        <div class="inner">  
	          <i class="icon-phone"></i>
	          <p>Call</p>
	        </div>
	      </a>  
      
	      <a class="action" href="mailto:<%= item.contact["email"]%>">
	        <div class="inner">
	          <i class="icon-envelope-alt"></i>
	          <p>Email</p>
	        </div>
	      </a>
      
				<%= link_to edit_contact_path(:id => item.contact["id"]), {:class => "action"} do %>
	        <div class="inner">
	          <i class="icon-pencil"></i>
	          <p>Edit</p>
	        </div>
				<%end%>
      
				<%= link_to add_note_contact_path( id: item.contact["id"]), {class: "action"} do %>
	        <div class="inner last">
	          <i class="icon-paper-clip"></i>
	          <p>Note</p>
	        </div>
				<% end %> 
	    </div><!-- slide2-->
	  </div><!-- swiper wrapper -->
	</div><!-- swiper container -->
</li>