<% contact_name = [item.contact["name"],item.contact["company_name"]].reject{|x| x.try(:strip).blank?}.first %>
<% contact_phone = !item.contact["mobile"].strip.blank? ? item.contact["mobile"] : "Unknown" %>
<% contact_id = item.contact['id'] %>

<li class="swipeout" >
  <div class="swipeout-content item-content">
    <div class="item-inner">
    	<a href="#" class="actions" data-name="<%= contact_name %>" data-phone="<%= contact_phone %>" data-contact="<%= contact_id %>" data-email="<%= item.contact['email'] %>">
      	<div class="item-title">
      		<%= contact_name %>
					<br>
					<span><i class="i-map-marker">  <%= item.listing["address"] %></i></span>
					<span><i class="i-phone"></i> <%= contact_phone %></span>
				</div>
    	</a>
    </div><!-- item inner -->
  </div><!-- item content -->
  <!-- swipe to delete
  =================================== -->
  <div class="swipeout-actions">
    <div class="swipeout-actions-inner">
      <!-- Add this button and item will be deleted automatically -->
      <a href="#" data-confirm="Are you sure you want to delete this contact?"  class="swipeout-delete">Delete</a>
    </div>
  </div>
</li>