<div class="whiteBg"></div>
<%= form_tag(search_contacts_path, remote: true, class: "search-contacts clearfix", id: "search_form") do |f| %>
  <div class="input-custom">
    <div class="inner">
	  <%= text_field_tag :search, nil, placeholder: "Search for contacts" %>
    </div>
    <span class="icon-search"></span>
  </div>
  <button type="submit" class="btnCustom" form="search_form"> GO <i class="icon-double-angle-right"></i></button>
<% end %>


<p class="search-text" id="blank_contacts" style="display:<%= @contacts.blank? ? '' : 'none'%>">
  	Search for your contacts<br>by typing on the search box above
</p>

<div class="rowo small" style="display: <%= @contacts.blank? ? 'none' : "" %>">
  <ul class="wrap clearfix" id="contact_list">
		<%= render partial: 'contact', collection: @contacts %>	
 </ul>
</div>


<%= render partial: "nav_bar" %>
