<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">	
  <title>Jqclient</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
  <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div data-role="page">
	   <div data-theme="e" data-role="header">
	     <% unless session[:access_token].blank? %>
	       <div data-role="navbar">
	         <ul>
	           <li><a href="/contacts/index" data-role="button" data-icon="home" data-iconpos="left">My vendors</a></li>
      	     <li><a href="/contacts/index" data-role="button" data-icon="home" data-iconpos="left">My landlords</a></li>
         
             <li><a href="/contacts/index" data-role="button" data-icon="home" data-iconpos="left">My tenants</a></li>
             <li><a href="/contacts/new" data-role="button" data-icon="plus" data-iconpos="left">New contact</a></li>
           </ul>
          </div>
          <h1>prototype V.1</h1>
       <% else %>
        <h1>iContacts prototype V.1</h1>
       <% end %>
       <h5><%= flash[:notice] %></h5>
      </div>
	<div data-role="content">	
		<%= yield %>
	</div><!-- /content -->

  <div data-role="footer">
  	<h1>iContacts alpha v0.1</h1>
  </div>
</div><!-- /page -->

</body>
</html>
